
#login-container{
    padding-left: 2rem;
}

.loginBtn{
    width: 20rem;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: 100;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem; 
}

.error{
    color: red;
}

.success{
    color: green;
}